.bicicletas-bg-11 {
  background-image: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
 
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 20px;
}
.bicicletas-img {
  display: grid;
}
.bicicletas-img img{
 grid-area: 1/1;
}
.bicicletas-img  span{
  place-self: start end;
  grid-area: 1/1;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px 0 0 5px;
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2, 
.bicicletas p {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas p {
  margin-bottom: 32px;
}

.bicicletas a {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas ul {
  display: grid;
  gap: 16px;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bicicletas-bg-11 {
    background:  var(--cor-11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul {
    margin-bottom: 32px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: .7rem;
  }
  .bicicletas a {
    place-self: start;
    padding: 10px 25px;
    font-size: .9rem;
  }
  .bicicletas-conteudo li {
    font-size: 13px;
  }
  
}